* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  align-content: center;
  background-color: rgb(228, 228, 226);
}
div {
  width: 50%;
  margin: auto;
  padding: 5rem;
  border-radius: 20px;
  border: 5px solid rgb(104, 168, 104);
  background-color: #efe;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  color: rgb(104, 168, 104);
  line-height: 3;
}
p {
  font-size: 1.8rem;
  width: 30ch;
  text-decoration: underline;
}
